$main-color: #018786;
html {
  height: 100%;
}
.about-page {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
}
