@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
#about-center-container {
  margin-bottom: 5%;

  #about-title {
    font-size: 150px;
    font-family: "Dancing Script", cursive;
  }

  #about-info {
    font-size: 20px;
    padding-bottom: 30px;
  }

  .about-button-container {
    display: inline-block;

    .galleries-button {
      margin-left: 30px;
    }

    .source-button {
      margin-left: 30px;
    }

    button {
      padding: 15px 30px;
      font-size: 20px;
      transition: all 0.5s ease;
      color: #fff;
      border: 1px solid white;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      background-color: transparent;
      outline: none;
      border-radius: 290px;
      cursor: pointer;
    }

    button:hover {
      color: #001f3f;
      background-color: #fff;
    }
  }
}
